.u-text-center {
    text-align: center !important;
}

.u-text-bold {
    font-weight: 700 !important;
}

.u-margin-bottom-sm {
    margin-bottom: 2rem !important;
}

.u-margin-bottom-md {
    margin-bottom: 4rem !important;
}

.u-margin-bottom-lg {
    margin-bottom: 8rem !important;
}

.u-margin-top-sm {
    margin-top: 2rem !important;
}

.u-margin-top-md {
    margin-top: 4rem !important;
}

.u-margin-top-lg {
    margin-top: 8rem !important;
}