.pokemon-details {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    text-transform: capitalize;

    @include respond(phone) {
        width: 100%;
    }

    &__info-container {
        margin-top: 37rem;
    }

    &__img-background {
        width: 30rem;
        height: 30rem;
        @include centerFloatElementXY;
        opacity: 0.1;
    }

    &__header {
        position: fixed;
        top: 0;
        color: #fff;
        text-align: center;
        width: 60rem;
        height: 37rem;
        z-index: 1000;
        border-bottom-right-radius: 100rem;
        border-bottom-left-radius: 100rem;

        @include respond(phone) {
            width: 100%;
        }

        &-arrow-back {
            position: absolute;
            left: 4rem;
            top: 2rem;
            font-size: 3rem;
            background: none;
            outline: none;
            border: none;
            color: #fff;
            transition: all 0.4s;
        }

        &-arrow-back:hover {
            opacity: 0.6;
        }

        &-img {
            position: relative;
            top: 8rem;
            width: 30rem;
            height: 30rem;
            z-index: 2000;
        }

        &-pokeball {
            @include centerFloatElementXY;
            width: 25rem;
            height: 25rem;
            z-index: 1200;
            opacity: 0.7;
        }
    }

    &__general-info {
        display: flex;
        justify-content: space-around;
        text-align: center;

    }

    &__stats {
        margin: 0 5rem;
        @include respond(phone) {
            width: 100%;
            margin: 0 1rem;
        }
    }

    &__moves {
        width: 60rem;
        margin: 0 2rem;
        
        @include respond(phone) {
            width: 100%;
            margin: 0;
        }
    }

    &__sprites-images {
        display:flex; 
        justify-content:space-evenly; 
        flex-wrap: wrap;
    }
}