.pokemon-list{
    height: 100vh;

    &__cards-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 3rem;
        margin: 0 25rem;
    }

    &__img{
        @include centerFloatElementXY;
        z-index: -1;
        opacity: 0.2;
    }

    &__search-input{
        border: 1px solid gray;
        padding: 0.6rem;
        font-size: 1.7rem;
        border-radius: 0.5rem;
        width: 100%;
    }
}

#scroll-trigger{
    display: flex;
    justify-content: center;
    align-items: center;
}