.pokemon-list{
    height: 100%;
    &__logo{
        width: 100%;
        position: relative;
        left: 50%;
        top: 2rem;
        transform: translate(-50%);
    }

    &__cards-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 3rem;
        margin: 0 25rem;

        @include respond(tab-land){
            grid-template-columns: 1fr 1fr 1fr;
            margin: 0 16rem;
        }

        @include respond(tab-port){
            grid-template-columns: 1fr 1fr;
            margin: 0 10rem;
        }

        @include respond(phone){
            grid-template-columns: 1fr;
            margin: 0 4rem;
        }
    }

    &__img{
        @include centerFloatElementXY;
        z-index: -1;
        opacity: 0.2;

        @include respond(phone){
            width: 100%;
        }
    }

    &__search-input{
        display: grid;
        margin: 0 50rem;

        @include respond(tab-land){
            margin: 0 16rem;
        }

        @include respond(tab-port){
            margin: 0 10rem;
        }

        @include respond(phone){
            margin: 0 4rem;
        }

        &-el{
            text-align: center;
            border: 1px solid gray;
            padding: 0.6rem;
            font-size: 1.7rem;
            border-radius: 0.5rem;
            margin: 5rem 0;
        }
    }
}

#scroll-trigger{
    display: flex;
    justify-content: center;
    align-items: center;
}