// COLORS
$color-primary: #ef5350;
$color-primary-light: #ffbf0b;
$color-primary-dark: #e20000;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-sm: 2rem;
$gutter-horizontal: 2rem;