.header {
    background-color: $color-primary;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8rem;
    padding: 0.5rem;

    img {
        height: 100%;
    }
}