@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/buttons";
@import "components/search-input";
@import "components/pokemonCard";

@import "layout/header";
@import "layout/grid";

@import "pages/pokemonList";
@import "pages/pokemonDetails";






